*.bak
*.gz
*.ipynb
*.lastrun
*.mps
*.so
*/Manifest.toml
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.fseventsd
.ipy*
.vscode
Icon
Manifest.toml
Network Trash Folder
TODO.md
Temporary Items
benchmark/results
benchmark/runs
benchmark/tables
benchmark/tmp.json
build
docs/_build
instances/**/*.json
instances/_source
local
notebooks
