*.bak
*.gz
*.lastrun
*.so
*.mps
*.ipynb
.ipy*
benchmark/results
benchmark/runs
benchmark/tables
benchmark/tmp.json
build
instances/**/*.json
instances/_source
local
notebooks
TODO.md
docs/_build
.vscode
Manifest.toml
